*.log
.DS_Store
.env
.env.backup
.env.production
.env.deploy
/deploy/*.local.*
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
/public/build
/runtime
/release
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/config.php
/bootstrap/cache/events.php
/bootstrap/cache/routes-*.php
/bootstrap/cache/blade-icons.php
/data/*
!/data/.gitignore
Homestead.json
Homestead.yaml
Thumbs.db
